.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 975px) {
}

@media screen and (max-width: 600px) {
}
