.element {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 31px;
}

.element__image {
  display: flex;
  max-width: 282px;
}

.element__content {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.element__content-title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__content-icon {
  background-image: url("../images/heart-icon.svg");
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  margin-right: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.element__content-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
