.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    padding-left: 0;
    padding-right: 0;
  }
}
