.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* display: none; */
}

.popup__show {
  display: flex;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.popup__content-close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__content-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
}

.popup__content-form {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup_content-form_fielset {
  border: none;
}

.popup__content-form_input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  width: 100%;
  max-width: 358px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 400;
  margin-top: 30px;
}

.popup__content-form_button {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  margin-top: 48px;
}
