.popup {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.popup_is-opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.popup__content-close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__content-close:hover {
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.preview__close-button {
  top: -5px;
  right: -5px;
}

.popup__content {
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  max-width: 430px;
  padding-top: 34px;
  padding-right: 36px;
  padding-bottom: 34px;
  padding-left: 36px;
  border-radius: 10px;
}

.popup__content_type_preview {
  display: flex;
  background: transparent;
  max-width: 75vw;
  max-height: 75vw;
}

.popup__preview-image {
  object-fit: contain;
  max-width: 540px;
}

.popup__preview-caption {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.popup__content-title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.popup__content-form {
  margin-top: 36px;
}

.popup__create-form {
  margin-top: 36px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  width: 100%;
  height: 45px;
  color: #000;
  font-weight: 400;
  background: transparent;
  font-size: 14px;
  line-height: 17px;
}

.popup__button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  margin-top: 48px;
}

.popup__button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__content-close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }

  .popup__content {
    max-width: 282px;
    padding-top: 25px;
    padding-right: 22px;
    padding-bottom: 25px;
    padding-left: 22px;
  }
  .popup__content-title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__content-form {
    margin-top: 76px;
  }

  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
  }

  .preview__close-button {
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
  }
}
