.profile {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 40px;
  max-width: 880px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-image: url(../images/profile-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: minmax(auto, 415px) auto;
  grid-row-gap: 16px;
  grid-column-gap: 18px;
}

.profile__info-title {
  align-self: end;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-edit {
  background-image: url("../images/edit-icon.svg");
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  align-self: center;
}

.profile__info-edit:hover {
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.profile__info-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #fff;
  background-image: url("../images/add-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

.profile__add:hover {
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .profile__add {
    margin-left: 0px;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    grid-template-columns: minmax(auto, 196px) auto;
    grid-row-gap: 14px;
    grid-column-gap: 10px;
    margin-bottom: 36px;
  }

  .profile__info-title {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__avatar {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .profile__info-subtitle {
    place-self: center;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add {
    width: 282px;
  }

  .profile__info-edit {
    width: 18px;
    height: 18px;
  }
}
